NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_APP_NAME="SI-KPSPAMS KUAJANG"
NEXT_PUBLIC_DESA_NAME="Desa Kuajang"
NEXT_PUBLIC_KECAMATAN="Kecamatan Binuang"
NEXT_PUBLIC_KABUPATEN="Kabupaten Polewali Mandar"
NEXT_PUBLIC_PROVINSI="Sulawesi Barat"
