# URL API Backend Laravel Produksi (Misal dari Render / VPS / Koyeb)
NEXT_PUBLIC_API_URL=https://sikpspams-backend.onrender.com/api/v1

NEXT_PUBLIC_APP_NAME="SI-KPSPAMS KUAJANG"
NEXT_PUBLIC_DESA_NAME="Desa Kuajang"
NEXT_PUBLIC_KECAMATAN="Kecamatan Binuang"
NEXT_PUBLIC_KABUPATEN="Kabupaten Polewali Mandar"
NEXT_PUBLIC_PROVINSI="Sulawesi Barat"

# API Key AI Vision OCR KTP (Opsional)
GEMINI_API_KEY=""
